#include <stdio.h>
#include "{{ program }}.h"

{% set private_name = program | snake_to_camel %}
{% set public_name = program | upper %}

// add package global state here
typedef struct z{{ private_name }}Data
{
  u_int8_t ucInitialized;
} tz{{ private_name }};

static tz{{ private_name }} g_tz{{ private_name}}Data;

void {{ public_name }}_fnInit()
{
    g_tz{{ private_name}}Data.ucInitialized = True;
    return;
}

void {{ public_name }}_fnStart()
{
    if(g_tz{{ private_name }}Data.ucInitialized == False)
    {
       {{ public_name }}_fnInit();
    }
    return;
}
