cmake_minimum_required(VERSION 3.10)

# Set the project name
project ({{ project }})

# Add the executable
add_executable({{ program }} src/main.c src/{{ program }}.c)

target_include_directories( {{ program }} PUBLIC
    "${PROJECT_BINARY_DIR}"
    "${PROJECT_SOURCE_DIR}/inc"
)