#include <stdio.h>
#include <stdarg.h>
#include <stddef.h>
#include <setjmp.h>
#include <cmocka.h>
#include <sys/types.h>
#include "{{ program }}.h"
#include "{{ program }}_test.h"

{% set public_name = program | upper %}

int my_sum(int a, int b);
static void test_function(void **state);

static void test_function(void **state) {
  assert_int_equal(my_sum(1, 2), 3);
}

int main() { 
    // initialize the module(s)
    // {{ public_name }}_fnInit();

    // run the application
    // {{ public_name }}_fnStart();

    printf("Testing 1 + 2 == 3");
    const struct CMUnitTest tests[] = {
      cmocka_unit_test(test_function),
      cmocka_unit_test({{ program }}_fnTest),
    };

    return cmocka_run_group_tests(tests, NULL, NULL);
}

int my_sum(int a, int b)
{
  return a + b;
}
